<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>


	<div>Apache FileUpload</div>


	<form method="post" action="/WebJDBC/updateImage" enctype="multipart/form-data">


		Choose a file: <input type="file" name="uploadFile" />


		<input type="submit" value="Upload" />


	</form>



	</br>



	<div>Servlet Multipart</div>


	<form method="post" action="/HelloWorld/multiPartServlet" enctype="multipart/form-data">


		Choose a file: <input type="file" name="multiPartServlet" />


		<input type="submit" value="Upload" />


	</form>



	</br>



	<div>Cloudary</div>


	<form method="post" action="/HelloWorld/cloudary" enctype="multipart/form-data">


		Choose a file: <input type="file" name="cloudary" />


		<input type="submit" value="Upload" />


	</form>


</body>


</html>